<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="top">
            <div class="prop">
                <input name="name" type="text" value="{{item.name}}" data-dtype="string" />
                <label>Name</label>
            </div>
        </div>
        <div class="bottom">
            <div class="prop">
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="number" />
                <label>Weight</label>
            </div>
            <div class="prop">
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="number" />
                <label>Quantity</label>
            </div>
            <div class="prop">
                <input type="text" name="data.macro" value="{{data.macro}}" data-dtype="string" />
                <label for="data.macro">Macro</label>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="wide-section">
            <h3 class="header">Description</h3 class="header">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>