<div class="dice-roll">
    <h3 class="header">{{name}}</h3 class="header">
    <div class="dice-result">
        <div class="dice-formula">
            <span>{{die}}</span>
            <span>{{modifiers}}</span>
            <span>{{vs}}</span>
        </div>
        <div class="dice-total">
            <span class="{{result}}">{{total}}{{offset}}</span>
        </div>
    </div>
</div>