<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="top">
            <div class="prop">
                <input name="name" type="text" value="{{item.name}}" data-dtype="string" />
                <label>Name</label>
            </div>
        </div>
        <div class="bottom">
            <div class="prop">
                <input type="text" name="data.time" value="{{data.time}}" data-dtype="string" />
                <label>Casting Time</label>
            </div>
            <div class="prop">
                <select name="data.spellType" data-dtype="string">
                    {{#select data.spellType}}
                    <option value="Cantrip">Cantrip</option>
                    <option value="Ritual">Ritual</option>
                    <option value="Spell">Spell</option>
                    {{/select}}
                </select>
                <label>Type</label>
            </div>
            <div class="prop">
                {{> "systems/beyond-the-wall/templates/item/abilitySelector.hbs" prop="data.ability" value=data.ability}}
                <label>Ability</label>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="stat-row">
            <div class="prop">

                <input type="text" value="{{data.macro}}" name="data.macro" data-dtype="string" />
                <label>Macro</label>
            </div>
        </div>
        <div class="wide-section">
            <h3 class="header">Description</h3 class="header">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>