<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="top">
            <div class="prop">
                <input name="name" type="text" value="{{item.name}}" data-dtype="string" />
                <label>Name</label>
            </div>
        </div>
        <div class="bottom">
            <div class="prop">
                <input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="number" />
                <label>Bonus</label>
            </div>
            <div class="prop">
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="string" />
                <label>Damage</label>
            </div>
            <div class="prop">
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="number" />
                <label>weight</label>
            </div>
        </div>

    </header>

    <section class="sheet-body">
        <div class="stat-row">
            <div class="prop">
                <input type="text" name="data.shortRange" value="{{data.shortRange}}" data-dtype="string" />
                <label for="data.shortRange">Short Range</label>
            </div>
            <div class="prop">
                <input type="text" name="data.longRange" value="{{data.longRange}}" data-dtype="string" />
                <label for="data.longRange">Long Range</label>
            </div>
            <div class="prop">
                <input type="text" name="data.reload" value="{{data.reload}}" data-dtype="string" />
                <label for="data.reload">Reload Time</label>
            </div>
        </div>
        <div class="wide-section">
            <h3 class="header">Description</h3 class="header">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>