@osrGreen: #83831f;
@osrYellow: #ae9c2c;
@osrWhite: #dfdac7;
@osrBrown: #7a4012;
@osrBlack: #040f01;

.sheet-header {
    display: grid;
    padding: 3px;
    background-color: @osrGreen;
    column-gap: 3px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 45px 45px;
    grid-template-areas:
        "icon top"
        "icon bottom";

    .profile-img {
        margin: 3px;
        grid-area: icon;
        height: 90px;
        width: 90px;
    }

    .icon {
        grid-area: icon;
        background-color: @osrBrown;
    }

    .top,
    .bottom {
        width: 100%;
        padding: 2px;
        display: flex;
        flex-flow: row nowrap;
        align-content: stretch;
    }

    .top {
        grid-area: top;
    }
    .bottom {
        grid-area: bottom;
    }
}

.prop {
    padding: 2px;
    display: flex;
    flex-basis: 0%;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    background: @osrGreen;
    input {
        height: 25px;
        background-color: @osrWhite;
        color: @osrBlack;
    }
    select {
        background-color: @osrWhite;
        color: @osrBlack;
        width: 100%;
    }
    label {
        font-size: small;
        color: @osrWhite;
    }
    flex-grow: 1;
    flex-shrink: 1;
}

.prop.wide {
    flex-shrink: 0.5;
    flex-grow: 2;
    div {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        span {
            padding: 5px;
        }
    }
}

.sheet-tabs {
    margin: 4px;
    color: @osrWhite;

    .item {
        margin: 0px 2%;
        background-color: @osrYellow;
    }
    .item.active {
        background-color: @osrGreen;
        text-shadow: none;
    }
}

.tabRow {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin-top: 3px;

    span {
        background-color: @osrGreen;
        color: @osrWhite;
    }
}

.wide-section {
    margin: 5px;
    background-color: @osrGreen;
    display: flex;
    flex-direction: column;
    padding: 3px;

    .header {
        color: @osrWhite;
        text-align: center;
        margin: 0;
    }

    ol {
        background: @osrWhite;
        min-height: 30px;
        margin: 0;
    }
    .editor {
        padding: 4px;
        flex-grow: 1;
        flex-basis: 40px;
        flex-shrink: 0;
        background: @osrWhite;

        .tox {
            height: 400px !important;
        }
    }

    .entry {
        display: flex;
        flex-flow: row;
        background: @osrWhite;
        align-items: baseline;
        padding: 2px;

        label {
            padding: 0 4px;
            white-space: nowrap;
            flex-basis: content;
            color: @osrBlack;
        }
        input {
            flex-grow: 1;
        }
    }
}

.lined {
    @lineHeight: 20px;
    @superLine: @lineHeight + 1px;
    border: none;
    border-radius: 0;
    background: @osrWhite;
    background-image: -webkit-linear-gradient(
        @osrWhite @lineHeight,
        @osrBlack @lineHeight,
        @osrBlack @superLine,
        @osrWhite @superLine
    );
    background-size: 100% @superLine;
    overflow: hidden;
    line-height: @superLine;
}

.stat-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 3px;
    margin: 4px 0;
}

.skill-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background: @osrWhite;

    .skill {
        padding: 4px;
        flex-basis: 150px;
        width: 0;
        flex-grow: 1;

        display: flex;
        flex-flow: row nowrap;

        .skill-name {
            flex-basis: 125px;
        }

        .skill-bonus {
            flex-basis: 25px;
            text-align: center;
        }

        input {
            margin: 0 2px;
            flex-grow: 1;
        }
    }

    .placeholder {
        height: 1px;
        padding: 0;
        margin: 0;
    }

    .skill-add {
        padding: 5px;
    }
}

.item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;

    .item {
        height: 30px;
        line-height: 24px;
        padding: 3px;
        display: flex;
        flex-flow: row nowrap;
        border-bottom: 1px solid #bbb;

        img {
            flex: 0 0 24px;
            margin-right: 5px;
        }

        .color-STR {
            color: #db262c;
        }

        .color-DEX {
            color: #22aa59;
        }
        .color-INT {
            color: #254edb;
        }
        .color-CON {
            color: #4e4f20;
        }
        .color-WIS {
            color: #2a83d8;
        }
        .color-CHA {
            color: #8e22aa;
        }
    }

    .item-name {
        margin: 0;
        flex-grow: 1;
    }
}

.sheet-body {
    overflow: auto;
}
