.beyond-the-wall.character {
    .pc-sheet-header {
        display: grid;
        padding: 3px;
        background-color: @osrGreen;
        grid-template-columns: 90px repeat(6, 1fr) 3fr;
        column-gap: 3px;
        grid-template-rows: 45px 45px;
        grid-template-areas:
            "icon name name name class class class exp"
            "icon speed speed init init ac ac hp";

        #name {
            grid-area: name;
        }
        #hp {
            grid-area: hp;
        }
        #ac {
            grid-area: ac;
        }
        #class {
            grid-area: class;
        }
        #exp {
            grid-area: exp;
        }
        #speed {
            grid-area: speed;
        }
        #init {
            grid-area: init;
        }
    }

    .main.active {
        display: flex;
        flex-flow: row nowrap;
        .content {
            padding: 0px;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .side-bar {
            margin: 5px;
            flex-basis: 175px;
            flex-grow: 0;
            flex-shrink: 0;
            z-index: 1;
            // Internal
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
            color: @osrWhite;

            .stats {
                background-color: @osrGreen;
                padding: 3px;

                h3 {
                    margin: 3px;
                }

                input {
                    background: @osrWhite;
                }

                .inner {
                    background-color: @osrYellow;
                }

                .ability-score {
                    display: grid;
                    grid-template-columns: 40px 40px 40px 19px;
                    align-items: center;
                    column-gap: 10px;
                    padding: 1px 0px;
                }

                .save {
                    display: grid;
                    grid-template-columns: 90px 40px 19px;
                    align-items: center;
                    column-gap: 10px;
                    padding: 2px 0px;
                }
            }
        }
    }

    .items.active,
    .description.active {
        padding: 5px;
    }

    .item-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: auto;

        .item {
            height: 30px;
            line-height: 24px;
            padding: 3px;
            display: flex;
            flex-flow: row nowrap;
            border-bottom: 1px solid #bbb;

            img {
                flex: 0 0 24px;
                margin-right: 5px;
            }
        }

        .item-name {
            margin: 0;
            flex-grow: 1;
        }
    }

    .goal-table {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 8fr 1fr 20px;
        column-gap: 3px;
        row-gap: 4px;
        background: @osrWhite;
        padding: 3px;

        h4 {
            margin: 0;
        }

        .goal-add {
            grid-column: 4;
            text-align: center;
        }
        .goal-delete {
            text-align: center;
        }
    }
}
