/* ------------------------------------ */
/*				   Less					*/
/* This is your Less entry file			*/
/* ------------------------------------ */

@osrGreen: #83831f;
@osrYellow: #ae9c2c;
@osrWhite: #dfdac7;
@osrBrown: #7a4012;
@osrBlack: #040f01;

.beyond-the-wall {
    .window-content {
        height: 100%;
        padding: 5px;
        overflow-y: hidden;
        background-image: url("./assets//background.png");
    }

    @import "./styles/shared.less";
}

.mod-prompt {
    padding: 4px;
    input {
        width: 100px;
    }
}

@import "./styles/roll.less";
@import "./styles/sheets/character.less";
