<header class="pc-sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="prop" id="name">
        <input type="text" name="name" value="{{actor.name}}" data-dtype="string" />
        <label>Name</label>
    </div>
    <div class="prop " id="class">
        <input type="text" name="data.class" value="{{data.class}}" data-dtype="string" />
        <label>Class</label>
    </div>
    <div class="prop wide" id="exp">
        <div>
            <input type="text" name="data.exp.value" value="{{data.exp.value}}" data-dtype="number" />
            <span>/</span>
            <input type="text" name="data.exp.max" value="{{data.exp.max}}" data-dtype="number" />
        </div>
        <label>Experience</label>
    </div>
    <div class="prop" id="speed">
        <input type="text" name="data.speed" value="{{data.speed}}" data-dtype="number" />
        <label>Speed</label>
    </div>
    <div class="prop" id="init">
        <input type="text" name="data.initiative" value="{{data.initiative}}" data-dtype="number" />
        <label>Initiative</label>
    </div>
    <div class="prop" id="ac">
        <input type="text" name="data.ac" value="{{data.ac}}" data-dtype="number" />
        <label>AC</label>
    </div>
    <div class="prop wide" id="hp">
        <div>
            <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="number" />
            <span>/</span>
            <input type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="number" />
        </div>
        <label>Hit Points</label>
    </div>
</header>