<div class="tab items" data-group="primary" data-tab="items">
    <div class="stat-row">
        <div class="prop">
            <input type="text" id="iron" value="{{data.coinage.iron}}" name="data.coinage.iron" />
            <label for="iron">Iron</label>
        </div>
        <div class="prop">
            <input type="text" id="copper" value="{{data.coinage.copper}}" name="data.coinage.copper" />
            <label for="copper">Copper</label>
        </div>
        <div class="prop">
            <input type="text" id="silver" value="{{data.coinage.silver}}" name="data.coinage.silver" />
            <label for="silver">Silver</label>
        </div>
        <div class="prop">
            <input type="text" id="gold" value="{{data.coinage.gold}}" name="data.coinage.gold" />
            <label for="gold">Gold</label>
        </div>
        <div class="prop">
            <input type="text" id="platinum" value="{{data.coinage.platinum}}" name="data.coinage.platinum" />
            <label for="platinum">Platinum</label>
        </div>
        <div class="prop"></div>
        <div class="prop wide">
            <div>
                <input type="text" disabled value="{{data.carryWeight}}" />
                <span>/</span>
                <input type="text" value="{{data.maxWeight}}" name="data.maxWeight" />
            </div>
            <label for="">Encumbrance</label>
        </div>
    </div>
    <div class="wide-section">
        <h3 class="header">Weapons</h3 class="header">
        <ol class="item-list">
            {{#each data.itemGroups.weapons as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    {{#if item.data.wearing}}
                    <a class="item-control item-stash" title="Stash"><i class="fas fa-box-open"></i></a>
                    {{else}}
                    <a class="item-control item-stash" title="Carry"><i class="fas fa-box"></i></a>
                    {{/if}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="wide-section">
        <h3 class="header">Armor & Shield</h3 class="header">
        <ol class="item-list">
            {{#each data.itemGroups.armor as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    <a class="rollable small-die" title="Roll" data-type="macro" data-item-id="{{item._id}}">
                        <i class="fas fa-dice-d20"></i>
                    </a>
                    {{#if item.data.wearing}}
                    <a class="item-control item-stash" title="Stash"><i class="fas fa-box-open"></i></a>
                    {{else}}
                    <a class="item-control item-stash" title="Carry"><i class="fas fa-box"></i></a>
                    {{/if}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="wide-section">
        <h3 class="header">Equipment</h3 class="header">
        <ol class="item-list">
            {{#each data.itemGroups.equipment as |item id|}}
            <li class="item" data-item-id="{{item._id}}">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    <span>Quantity:</span>
                    <a class="item-control item-dec"><i class="fas fa-minus"></i></a>
                    <span>{{item.data.quantity}}</span>
                    <a class="item-control item-inc"><i class="fas fa-plus"></i></a>
                    <a class="rollable small-die" title="Roll" data-type="macro" data-item-id="{{item._id}}">
                        <i class="fas fa-dice-d20"></i>
                    </a>
                    {{#if item.data.wearing}}
                    <a class="item-control item-stash" title="Stash"><i class="fas fa-box-open"></i></a>
                    {{else}}
                    <a class="item-control item-stash" title="Carry"><i class="fas fa-box"></i></a>
                    {{/if}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="wide-section">
        <h3 class="header">Stashed</h3 class="header">
        {{editor content=data.treasure target="data.treasure" button=true owner=owner editable=editable}}
    </div>
</div>