<div class="tab main" data-group="primary" data-tab="main">
    <div class="side-bar">
        <div class="stats">
            <h3 class="header">Ability Scores</h3 class="header">
            <div class="ability-score inner">
                <div>STR</div>
                <input type="text" name="data.abilities.STR" value="{{data.abilities.STR}}" data-dtype="number" />
                <input type="text" disabled value="{{data.abilityMods.STR}}" />
                <a class="rollable" data-type="skill" data-ability="STR"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="ability-score inner">
                <div>DEX</div>
                <input type="text" name="data.abilities.DEX" value="{{data.abilities.DEX}}" data-dtype="number" />
                <input type="text" disabled value="{{data.abilityMods.DEX}}" />
                <a class="rollable" data-type="skill" data-ability="DEX"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="ability-score inner">
                <div>CON</div>
                <input type="text" name="data.abilities.CON" value="{{data.abilities.CON}}" data-dtype="number" />
                <input type="text" disabled value="{{data.abilityMods.CON}}" />
                <a class="rollable" data-type="skill" data-ability="CON"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="ability-score inner">
                <div>INT</div>
                <input type="text" name="data.abilities.INT" value="{{data.abilities.INT}}" data-dtype="number" />
                <input type="text" disabled value="{{data.abilityMods.INT}}" />
                <a class="rollable" data-type="skill" data-ability="INT"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="ability-score inner">
                <div>WIS</div>
                <input type="text" name="data.abilities.WIS" value="{{data.abilities.WIS}}" data-dtype="number" />
                <input type="text" disabled value="{{data.abilityMods.WIS}}" />
                <a class="rollable" data-type="skill" data-ability="WIS"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="ability-score inner">
                <div>CHA</div>
                <input type="text" name="data.abilities.CHA" value="{{data.abilities.CHA}}" data-dtype="number" />
                <input type="text" disabled value="{{data.abilityMods.CHA}}" />
                <a class="rollable" data-type="skill" data-ability="CHA"><i class="fas fa-dice-d20"></i></a>
            </div>
            <h3 class="header">Saving Throws</h3 class="header">
            <div class="save inner">
                <div>Fortitude</div>
                <input type="text" name="data.saves.Fortitude" value="{{data.saves.Fortitude}}" data-dtype="number" />
                <a class="rollable" data-type="save" data-ability="Fortitude"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="save inner">
                <div>Reflex</div>
                <input type="text" name="data.saves.Reflex" value="{{data.saves.Reflex}}" data-dtype="number" />
                <a class="rollable" data-type="save" data-ability="Reflex"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="save inner">
                <div>Will</div>
                <input type="text" name="data.saves.Will" value="{{data.saves.Will}}" data-dtype="number" />
                <a class="rollable" data-type="save" data-ability="Will"><i class="fas fa-dice-d20"></i></a>
            </div>
            <div class="save inner">
                <div>Luck</div>
                <input type="text" name="data.saves.Luck" value="{{data.saves.Luck}}" data-dtype="number" />
                <a class="rollable" data-type="save" data-ability="Luck"><i class="fas fa-dice-d20"></i></a>
            </div>
            <h3 class="header">Fortune Points</h3 class="header">
            <div class="inner">
                <input type="checkbox" {{checked data.checkedFortunes.[0]}} name="data.checkedFortunes.0" />
                <input type="checkbox" {{checked data.checkedFortunes.[1]}} name="data.checkedFortunes.1" />
                <input type="checkbox" {{checked data.checkedFortunes.[2]}} name="data.checkedFortunes.2" />
            </div>
            <div class="inner">
                <input type="checkbox" {{checked data.checkedFortunes.[3]}} name="data.checkedFortunes.3" />
                <input type="checkbox" {{checked data.checkedFortunes.[4]}} name="data.checkedFortunes.4" />
            </div>
            <h3 class="header">Spell Slots</h3 class="header">
            <div class="inner">
                <input type="checkbox" {{checked data.checkedSlots.[0]}} name="data.checkedSlots.0" />
                <input type="checkbox" {{checked data.checkedSlots.[1]}} name="data.checkedSlots.1" />
                <input type="checkbox" {{checked data.checkedSlots.[2]}} name="data.checkedSlots.2" />
                <input type="checkbox" {{checked data.checkedSlots.[3]}} name="data.checkedSlots.3" />
                <input type="checkbox" {{checked data.checkedSlots.[4]}} name="data.checkedSlots.4" />
            </div>
            <div class="inner">
                <input type="checkbox" {{checked data.checkedSlots.[5]}} name="data.checkedSlots.5" />
                <input type="checkbox" {{checked data.checkedSlots.[6]}} name="data.checkedSlots.6" />
                <input type="checkbox" {{checked data.checkedSlots.[7]}} name="data.checkedSlots.7" />
                <input type="checkbox" {{checked data.checkedSlots.[8]}} name="data.checkedSlots.8" />
                <input type="checkbox" {{checked data.checkedSlots.[9]}} name="data.checkedSlots.9" />
            </div>
        </div>
    </div>
    <div class="content">
        <div class="wide-section">
            <h3 class="header">Skills</h3 class="header">
            <div class="skill-box">
                {{#each data.skills}}
                <div class="skill">
                    <input class="lined skill-name" name="data.skills.{{@key}}.name" type="text" data-dtype="string"
                        value="{{this.name}}" />
                    <input class="lined skill-bonus" name="data.skills.{{@key}}.bonus" type="text" data-dtype="number"
                        value="{{this.bonus}}" />
                    <a class="skill-delete" name="data.skills.{{@key}}.delete" title="Remove Skill" data-action="remove"
                        data-index="{{@key}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/each}}
                <div class="skill placeholder"></div>
                <div class="skill placeholder"></div>
                <a class="skill-add" title="Add Skill" data-action="add">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="stat-row">
            <div class="prop">
                <input type="text" name="data.bab" value="{{data.bab}}" data-dtype="number" />
                <Label>Base Attack Bonus</Label>
            </div>
            <div class="prop">
                <input type="text" name="data.mab" value="{{data.mab}}" data-dtype="number" />
                <Label>Melee Attack Bonus</Label>
            </div>
            <div class="prop">
                <input type="text" name="data.rab" value="{{data.rab}}" data-dtype="number" />
                <Label>Ranged Attack Bonus</Label>
            </div>
        </div>
        <div class="wide-section">
            <h3 class="header">Weapons</h3 class="header">
            <ol class="item-list">
                {{#each data.itemGroups.active as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="rollable small-die" title="Roll Attack" data-type="attack"
                            data-item-id="{{item._id}}">
                            <i class="fas fa-dice-d20"></i>
                        </a>
                        <a class="rollable" title="Roll Damage" data-type="damage" data-item-id="{{item._id}}">
                            <i class="fas fa-dice"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        <div class="wide-section">
            <h3 class="header">Arcana</h3 class="header">
            <ol class="item-list">
                {{#each data.itemGroups.arcana as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        {{#if item.data.ability}}
                        <span class="color-{{item.data.ability}}">{{item.data.ability}}</span>
                        <span>/</span>
                        {{/if}}
                        <span>{{item.data.spellType}}</span>
                        <a class="rollable small-die" title="Roll" data-type="macro" data-item-id="{{item._id}}">
                            <i class="fas fa-dice-d20"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        <div class="wide-section">
            <h3 class="header">Traits</h3 class="header">
            <ol class="item-list">
                {{#each data.itemGroups.traits as |item id|}}
                <li class="item" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="rollable small-die" title="Roll" data-type="macro" data-item-id="{{item._id}}">
                            <i class="fas fa-dice-d20"></i>
                        </a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        <div class="wide-section">
            <h3 class="header">Notes</h3 class="header">
            {{editor content=data.mainNotes target="data.mainNotes" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>